<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SH Hostel</title>
    <style>
        body {
            background-color: rgb(216, 219, 219);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light">
        <div class="right-head">
            <h2>Sacred Heart Hostel</h2>
            <p>ST. Joseph's College </p>
            <p>Trichy - 02</p>
        </div>
        <div class="left-head">
            <a class="btn btn-primary" href="sh/addBlock">add Block</a>
            <button class="btn btn-primary">Edit Block</button>
        </div>
    </nav>
    <div class="custom-container">
        <!-- <div class="d-flex flex-column ">
            <% for(var i=0; i< data.length;i++) { %>
                <a class="p-2 btn btn-secondary btn-sm" href="?id=<%=data[i].id %>">
                    <%=data[i].name %>
                </a>
                <% } %>
        </div> -->
    </div>

</body>

</html>