<!DOCTYPE html>
<html lang="en">

<head>
  <title>SH Hostel</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .submition {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  </style>
</head>

<body>
  <div class="container">
    <a href="/sh/signup">Signup</a>
    <form>
      <div class="form-group">
        <label for="userId">User Id</label>
        <input type="text" class="form-control" id="userId">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="submition">
        <a href="#">Forget Password</a>
        <button onclick="loginUser()" class="btn btn-success">Login</button>
      </div>
    </form>
  </div>



  <script>
    function loginUser() {
      const userId = document.getElementById('userId').value;
      const password = document.getElementById('password').value;

      const myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      const raw = JSON.stringify({
        "loginId": userId,
        "password": password
      });

      const requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow"
      };

      const request = fetch("http://localhost:2000/api/login", requestOptions)
      request.then(async (response) => {
        if (response == 200) {
          window.location.replace('http://localhost:2000/sh/home')
        } else {
          alert(await response.text())
        }
      })
    }
  </script>
</body>

</html>